body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    background: linear-gradient(180deg, #ff7eb3, #ff758c, #8a2be2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#calc {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: lavender;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(54, 28, 54);
    width: auto;
    height: auto;
    margin: auto;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 75%;
}

#output {
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold;
}

#result {
    padding: 10px;
    background-color: rgb(101, 3, 101);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    font-size: bold;
    margin-bottom: 10px;
}

#result:hover {
    background-color: purple;
}
